
#background {
    position: fixed;
    top: 0;
    z-index: -1;
}

.content {
    background: white;
    min-height: 200px;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.container {
    width: 100%;
}

.main {
  background-color: white;
  margin-top: 0;
}

.foot {
  background: white;
  margin: auto;
}

.topButton {
  margin: auto;
  width: 14px;
  height: 16px;
}